{% extends 'base.html' %}

{% block content %}

<div class="introduce">
            <div style="display:inline-block;vertical-align:top;">
                <img src="https://item.kakaocdn.net/do/d97f27efd1d10d84215842e2e12752934022de826f725e10df604bf1b9725cfd" alt="img"
                height="80"width="80">
                </div>
                <div style="display:inline-block;">
                    <h2> suyeon </h2> <p>게시물1 팔로워 180 팔로우 180</p> <br>
                </div> 
                <div align="left">
               <button type="button" class="btn btn-primary" >팔로우</button> 
                <button type="button" class="btn btn-primary">메시지</button> <br><br> 
                 </div> 
                 <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">게시물</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">태그됨</a> <br> 
                  </ul>
        <div class="image">
            <img src="https://www.gyeongju.go.kr/upload/content/thumb/20200317/64440C92BBD74CF0B7BA518D26B9976C.jpg"
        height="400"width="400"> <br>
        <img src="https://cdn-icons-png.flaticon.com/512/39/39559.png"
        height="30 "width="30">
        <img src="https://cdn-icons-png.flaticon.com/512/5883/5883507.png" 
         alt="" width="30" height="30" class="d-inline-block align-text-top" text-align="left">
        <p style="line-height:120%"><strong>_03.06.23</strong>님 외 <strong>여러명</strong>이 좋아합니다<br>
            <strong>suyeon</strong> 여행 <br> 4월 11일 </p>
                
         </div>

{% endblock %}

